* {
    font-family: 'Courier New', Courier, monospace;
    border: 10px;

}

body {
    display: flex;
    flex-direction: column;
    background-color: #d9d9ea;

}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #c65605;
    font-size: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b0abab;
}

.header {
    height: 72px;
    background: rgba(2, 11, 30, 0.247);
    color: white;
    display: flex;
    align-items: center;
    border: 2px solid gray;
    padding: 0 28px;
    font-size: 32px;
    font-weight: 900;
}